In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_excel("../tablas.xlsx")
df.head()

,SKU,Categoría,Canal,Fecha,Precio,Descuento,Costo Base,Envío,Comisiones (ratio),Empaque,Tasa Devoluciones,Unidades,Nota
0,SKU-1000,Deportes,Ecommerce,01/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,8,NaN
1,SKU-1000,Deportes,Ecommerce,08/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,23,NaN
2,SKU-1000,Deportes,Ecommerce,15/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,34,NaN
3,SKU-1000,Deportes,Ecommerce,22/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,18,NaN
4,SKU-1000,Deportes,Ecommerce,29/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,10,NaN