In [202]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import unicodedata
import re

In [203]:
#Que tablas hay en el archivo Excel
xls = pd.ExcelFile("../tablas.xlsx")
xls.sheet_names

['Ventas', 'Competencia', 'Costos', 'README']

In [204]:
sheets = pd.read_excel("../tablas.xlsx", sheet_name=None)

sheets_datos = {
    name: df
    for name, df in sheets.items()
    if name.lower() != "readme"
}

sheets_datos

{'Ventas':           SKU Categoría      Canal       Fecha  Precio Descuento Costo Base  \
 0    SKU-1000  Deportes  Ecommerce  01/10/2025  467.44         0     340.48
 1    SKU-1000  Deportes  Ecommerce  08/10/2025  467.44         0     340.48
 2    SKU-1000  Deportes  Ecommerce  15/10/2025  467.44         0     340.48
 3    SKU-1000  Deportes  Ecommerce  22/10/2025  467.44         0     340.48
 4    SKU-1000  Deportes  Ecommerce  29/10/2025  467.44         0     340.48
 ..        ...       ...        ...         ...     ...       ...        ...
 475  SKU-1059   Belleza     Retail  22/10/2025  799.02      0.15      607.6
 476  SKU-1059   Belleza     Retail  29/10/2025  799.02      0.15      607.6
 477  SKU-1059   Belleza     Retail  05/11/2025  799.02      0.15      607.6
 478  SKU-1059   Belleza     Retail  12/11/2025  799.02      0.15      607.6
 479  SKU-1059   Belleza     Retail  19/11/2025  799.02      0.15      607.6

      Envío  Comisiones (ratio)  Empaque  Tasa Devoluciones  Unidades Nota
 0    55.11                0.10    10.00              0.078         8  NaN
 1    55.11                0.10    10.00              0.078        23  NaN
 2    55.11                0.10    10.00              0.078        34  NaN
 3    55.11                0.10    10.00              0.078        18  NaN
 4    55.11                0.10    10.00              0.078        10  NaN
 ..     ...                 ...      ...                ...       ...  ...
 475  60.30                0.08    16.03              0.095        25  NaN
 476  60.30                0.08    16.03              0.095        10  NaN
 477  60.30                0.08    16.03              0.095        20  NaN
 478  60.30                0.08    16.03              0.095        24  NaN
 479  60.30                0.08    16.03              0.095        27  NaN

 [480 rows x 13 columns],
 'Competencia':           SKU    Competidor Multiplicador vs Precio Última Actualización  \
 0    SKU-1000  MercadoLibre                     NaN           2025-11-20
 1    SKU-1000        Amazon                   0.921           2025-10-09
 2    SKU-1000       Walmart                    1.03           2025-10-29
 3    SKU-1000         Linio                   0.874           2025-11-02
 4    SKU-1001  MercadoLibre                $ 958.00           2025-11-28
 ..        ...           ...                     ...                  ...
 235  SKU-1058         Linio                   1.007           2025-11-11
 236  SKU-1059  MercadoLibre                     NaN           2025-10-09
 237  SKU-1059        Amazon                   0.851           2025-10-06
 238  SKU-1059       Walmart                    0.86           2025-11-26
 239  SKU-1059         Linio                   1.164           2025-11-19

         Observación
 0               NaN
 1               NaN
 2               NaN
 3    Falta scraping
 4    Falta scraping
 ..              ...
 235  Falta scraping
 236             NaN
 237  Falta scraping
 238             NaN
 239             NaN

 [240 rows x 5 columns],
 'Costos':          SKU  Costo Base  Tarifa Marketplace (ratio)  Costo Envío  \
 0   SKU-1000      232.58                       0.104         2.03
 1   SKU-1001      667.46                       0.088        81.47
 2   SKU-1002     1449.38                       0.089        19.65
 3   SKU-1003      211.39                       0.126        47.93
 4   SKU-1004       479.7                       0.091         8.41
 5   SKU-1005      766.05                       0.169         7.58
 6   SKU-1006      906.78                       0.137        35.98
 7   SKU-1007     1338.97                       0.137        49.31
 8   SKU-1008      994.08                       0.111        33.26
 9   SKU-1009     1442.84                       0.117          NaN
 10  SKU-1010      977.61                       0.098        52.24
 11  SKU-1011     1119.75                       0.133        27.96
 12  SKU-1012    $ 901.07                       0.083        71.72
 13  SKU-1013      970.06                       0.123        43.05
 14  SKU-1014     1364.32                       0.145         0.09
 15  SKU-1015     1379.08                       0.128        40.25
 16  SKU-1016    $ 292.20                       0.096       111.59
 17  SKU-1017     1395.75                      12.700        85.25
 18  SKU-1018      976.19                       0.108        85.79
 19  SKU-1019     1183.09                      16.000        80.81
 20  SKU-1020      393.39                       0.152          NaN
 21  SKU-1021      412.74                       0.167          NaN
 22  SKU-1022  $ 1,298.56                       0.139        48.95
 23  SKU-1023      518.66                       0.153        44.25
 24  SKU-1024      767.11                       0.088       107.70
 25  SKU-1025      849.68                       0.165       116.19
 26  SKU-1026      897.63                      16.600          NaN
 27  SKU-1027      100.41                       0.111         5.94
 28  SKU-1028     1027.61                       0.099        15.07
 29  SKU-1029  $ 1,318.80                       0.167        73.57
 30  SKU-1030      124.51                       0.164        14.33
 31  SKU-1031      856.62                       0.118        65.55
 32  SKU-1032     1165.69                       8.900         9.49
 33  SKU-1033     1200.26                       0.101        28.04
 34  SKU-1034       673.4                       0.121         5.34
 35  SKU-1035      798.72                       0.126        97.76
 36  SKU-1036     1211.54                      11.000        40.92
 37  SKU-1037      778.54                       0.151        68.73
 38  SKU-1038      1177.9                       0.095        12.75
 39  SKU-1039      852.63                       0.120        66.21
 40  SKU-1040      786.47                       0.087        33.11
 41  SKU-1041         561                      14.700        67.65
 42  SKU-1042      340.66                       0.097        98.51
 43  SKU-1043      196.35                       0.168        23.52
 44  SKU-1044     1378.87                       0.083        59.23
 45  SKU-1045       85.56                       0.151       119.94
 46  SKU-1046     1027.09                       0.098        24.09
 47  SKU-1047     1405.13                       0.122        76.49
 48  SKU-1048     1154.29                       0.116        11.43
 49  SKU-1049      151.46                       0.083         7.55
 50  SKU-1050    $ 780.74                       0.146       110.78
 51  SKU-1051  $ 1,480.93                       0.085         6.71
 52  SKU-1052     1337.49                       0.131         1.20
 53  SKU-1053      245.19                       0.152       116.41
 54  SKU-1054      211.37                      17.000        12.11
 55  SKU-1055     1275.92                       0.143        25.12
 56  SKU-1056     1169.54                       0.108       111.20
 57  SKU-1057      649.38                       0.152        42.09
 58  SKU-1058  $ 1,188.41                       0.153        43.39
 59  SKU-1059     1480.03                       0.132        93.68

     Costo Empaque Fecha Vigencia
 0           36.83     04-10-2025
 1           13.29     14-11-2025
 2           15.48     30-10-2025
 3           19.66     23-10-2025
 4            6.98     15-11-2025
 5           26.39     06-10-2025
 6            6.20     18-11-2025
 7           26.15     15-11-2025
 8           20.74     16-11-2025
 9           35.23     09-11-2025
 10          23.38     06-11-2025
 11          33.46     05-10-2025
 12          30.86     22-11-2025
 13          39.85     15-11-2025
 14          25.79     27-11-2025
 15          38.33     07-10-2025
 16          21.05     25-10-2025
 17          19.66     17-11-2025
 18          20.04     04-10-2025
 19          26.51     17-11-2025
 20          39.86     31-10-2025
 21          35.78     07-11-2025
 22          39.31     23-11-2025
 23          31.94     13-11-2025
 24          36.77     25-11-2025
 25          10.17     31-10-2025
 26           5.59     10-11-2025
 27          25.98     07-11-2025
 28          31.79     05-10-2025
 29          10.50     13-10-2025
 30          26.78     24-10-2025
 31           8.13     01-11-2025
 32          20.66     01-11-2025
 33          27.37     07-10-2025
 34          15.12     15-10-2025
 35          37.77     19-10-2025
 36          33.19     01-11-2025
 37          13.34     10-10-2025
 38          32.24     04-11-2025
 39          17.48     10-11-2025
 40          30.59     08-11-2025
 41          12.17     23-11-2025
 42          20.01     05-11-2025
 43          38.03     18-10-2025
 44          20.88     28-10-2025
 45          33.08     31-10-2025
 46          35.81     22-10-2025
 47          33.06     06-11-2025
 48           5.96     03-10-2025
 49          11.56     22-10-2025
 50           5.55     26-11-2025
 51           9.98     03-11-2025
 52          35.88     01-11-2025
 53           5.77     18-10-2025
 54          11.97     18-10-2025
 55           7.54     04-11-2025
 56          21.93     22-11-2025
 57          32.05     26-11-2025
 58          19.22     07-11-2025
 59          18.66     11-11-2025  }

In [205]:
ventas_df = sheets_datos["Ventas"]
competencia_df = sheets_datos["Competencia"]
costos_df = sheets_datos["Costos"]

In [206]:
#Visualizar las primeras filas del DataFrame de ventas e información básica para su analisis exploratorio de datos (EDA)
ventas_df.head()

,SKU,Categoría,Canal,Fecha,Precio,Descuento,Costo Base,Envío,Comisiones (ratio),Empaque,Tasa Devoluciones,Unidades,Nota
0,SKU-1000,Deportes,Ecommerce,01/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,8,NaN
1,SKU-1000,Deportes,Ecommerce,08/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,23,NaN
2,SKU-1000,Deportes,Ecommerce,15/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,34,NaN
3,SKU-1000,Deportes,Ecommerce,22/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,18,NaN
4,SKU-1000,Deportes,Ecommerce,29/10/2025,467.44,0,340.48,55.11,0.1,10.0,0.078,10,NaN

In [207]:
ventas_df.tail()

,SKU,Categoría,Canal,Fecha,Precio,Descuento,Costo Base,Envío,Comisiones (ratio),Empaque,Tasa Devoluciones,Unidades,Nota
475,SKU-1059,Belleza,Retail,22/10/2025,799.02,0.15,607.6,60.3,0.08,16.03,0.095,25,NaN
476,SKU-1059,Belleza,Retail,29/10/2025,799.02,0.15,607.6,60.3,0.08,16.03,0.095,10,NaN
477,SKU-1059,Belleza,Retail,05/11/2025,799.02,0.15,607.6,60.3,0.08,16.03,0.095,20,NaN
478,SKU-1059,Belleza,Retail,12/11/2025,799.02,0.15,607.6,60.3,0.08,16.03,0.095,24,NaN
479,SKU-1059,Belleza,Retail,19/11/2025,799.02,0.15,607.6,60.3,0.08,16.03,0.095,27,NaN

In [208]:
#lipieza de nombres de columnas
def limpiar_columnas(cols):
    nuevas_cols = []
    for col in cols:
        col = col.lower()
        col = unicodedata.normalize("NFKD", col).encode("ascii", "ignore").decode("utf-8")
        col = re.sub(r"[()]", "", col)
        col = re.sub(r"\s+", "_", col)
        col = re.sub(r"_+", "_", col)
        col = col.strip("_")
        nuevas_cols.append(col)
    return nuevas_cols

ventas_df.columns = limpiar_columnas(ventas_df.columns)
ventas_df.columns

ventas_df

,sku,categoria,canal,fecha,precio,descuento,costo_base,envio,comisiones_ratio,empaque,tasa_devoluciones,unidades,nota
0,SKU-1000,Deportes,Ecommerce,01/10/2025,467.44,0,340.48,55.11,0.10,10.00,0.078,8,NaN
1,SKU-1000,Deportes,Ecommerce,08/10/2025,467.44,0,340.48,55.11,0.10,10.00,0.078,23,NaN
2,SKU-1000,Deportes,Ecommerce,15/10/2025,467.44,0,340.48,55.11,0.10,10.00,0.078,34,NaN
3,SKU-1000,Deportes,Ecommerce,22/10/2025,467.44,0,340.48,55.11,0.10,10.00,0.078,18,NaN
4,SKU-1000,Deportes,Ecommerce,29/10/2025,467.44,0,340.48,55.11,0.10,10.00,0.078,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,SKU-1059,Belleza,Retail,22/10/2025,799.02,0.15,607.6,60.30,0.08,16.03,0.095,25,NaN
476,SKU-1059,Belleza,Retail,29/10/2025,799.02,0.15,607.6,60.30,0.08,16.03,0.095,10,NaN
477,SKU-1059,Belleza,Retail,05/11/2025,799.02,0.15,607.6,60.30,0.08,16.03,0.095,20,NaN
478,SKU-1059,Belleza,Retail,12/11/2025,799.02,0.15,607.6,60.30,0.08,16.03,0.095,24,NaN
479,SKU-1059,Belleza,Retail,19/11/2025,799.02,0.15,607.6,60.30,0.08,16.03,0.095,27,NaN

In [209]:
ventas_df.shape

(480, 13)

In [210]:
ventas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sku                480 non-null    object
 1   categoria          480 non-null    object
 2   canal              480 non-null    object
 3   fecha              480 non-null    object
 4   precio             480 non-null    object
 5   descuento          480 non-null    object
 6   costo_base         480 non-null    object
 7   envio              480 non-null    float64
 8   comisiones_ratio   480 non-null    float64
 9   empaque            464 non-null    float64
 10  tasa_devoluciones  480 non-null    float64
 11  unidades           480 non-null    int64
 12  nota               8 non-null      object
dtypes: float64(4), int64(1), object(8)
memory usage: 48.9+ KB

Fecha cambiarlo a date time, precio cambiarlo a númerico(float), descuento a numérico, costo base a numerico (float)

In [211]:
ventas_df["fecha"] = pd.to_datetime(
    ventas_df["fecha"],
    errors="coerce"
)

In [212]:
cols_numericas = ["precio", "descuento", "costo_base"]

for col in cols_numericas:
    ventas_df[col] = (
        ventas_df[col]
        .astype(str)
        .str.replace(r"[^\d.-]", "", regex=True)
    )
    ventas_df[col] = pd.to_numeric(ventas_df[col], errors="coerce")

ventas_df

,sku,categoria,canal,fecha,precio,descuento,costo_base,envio,comisiones_ratio,empaque,tasa_devoluciones,unidades,nota
0,SKU-1000,Deportes,Ecommerce,2025-01-10,467.44,0.00,340.48,55.11,0.10,10.00,0.078,8,NaN
1,SKU-1000,Deportes,Ecommerce,2025-08-10,467.44,0.00,340.48,55.11,0.10,10.00,0.078,23,NaN
2,SKU-1000,Deportes,Ecommerce,NaT,467.44,0.00,340.48,55.11,0.10,10.00,0.078,34,NaN
3,SKU-1000,Deportes,Ecommerce,NaT,467.44,0.00,340.48,55.11,0.10,10.00,0.078,18,NaN
4,SKU-1000,Deportes,Ecommerce,NaT,467.44,0.00,340.48,55.11,0.10,10.00,0.078,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,SKU-1059,Belleza,Retail,NaT,799.02,0.15,607.60,60.30,0.08,16.03,0.095,25,NaN
476,SKU-1059,Belleza,Retail,NaT,799.02,0.15,607.60,60.30,0.08,16.03,0.095,10,NaN
477,SKU-1059,Belleza,Retail,2025-05-11,799.02,0.15,607.60,60.30,0.08,16.03,0.095,20,NaN
478,SKU-1059,Belleza,Retail,2025-12-11,799.02,0.15,607.60,60.30,0.08,16.03,0.095,24,NaN
479,SKU-1059,Belleza,Retail,NaT,799.02,0.15,607.60,60.30,0.08,16.03,0.095,27,NaN

In [213]:
ventas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sku                480 non-null    object
 1   categoria          480 non-null    object
 2   canal              480 non-null    object
 3   fecha              240 non-null    datetime64[ns]
 4   precio             480 non-null    float64
 5   descuento          480 non-null    float64
 6   costo_base         472 non-null    float64
 7   envio              480 non-null    float64
 8   comisiones_ratio   480 non-null    float64
 9   empaque            464 non-null    float64
 10  tasa_devoluciones  480 non-null    float64
 11  unidades           480 non-null    int64
 12  nota               8 non-null      object
dtypes: datetime64[ns](1), float64(7), int64(1), object(4)
memory usage: 48.9+ KB

In [214]:
competencia_df.head()

,SKU,Competidor,Multiplicador vs Precio,Última Actualización,Observación
0,SKU-1000,MercadoLibre,NaN,2025-11-20,NaN
1,SKU-1000,Amazon,0.921,2025-10-09,NaN
2,SKU-1000,Walmart,1.03,2025-10-29,NaN
3,SKU-1000,Linio,0.874,2025-11-02,Falta scraping
4,SKU-1001,MercadoLibre,$ 958.00,2025-11-28,Falta scraping

In [215]:
competencia_df.tail()

,SKU,Competidor,Multiplicador vs Precio,Última Actualización,Observación
235,SKU-1058,Linio,1.007,2025-11-11,Falta scraping
236,SKU-1059,MercadoLibre,NaN,2025-10-09,NaN
237,SKU-1059,Amazon,0.851,2025-10-06,Falta scraping
238,SKU-1059,Walmart,0.86,2025-11-26,NaN
239,SKU-1059,Linio,1.164,2025-11-19,NaN

In [216]:
#lipieza de nombres de columnas
def limpiar_columnas(cols):
    nuevas_cols = []
    for col in cols:
        col = col.lower()
        col = unicodedata.normalize("NFKD", col).encode("ascii", "ignore").decode("utf-8")
        col = re.sub(r"[()]", "", col)
        col = re.sub(r"\s+", "_", col)
        col = re.sub(r"_+", "_", col)
        col = col.strip("_")
        nuevas_cols.append(col)
    return nuevas_cols

competencia_df.columns = limpiar_columnas(competencia_df.columns)
competencia_df.columns

competencia_df

,sku,competidor,multiplicador_vs_precio,ultima_actualizacion,observacion
0,SKU-1000,MercadoLibre,NaN,2025-11-20,NaN
1,SKU-1000,Amazon,0.921,2025-10-09,NaN
2,SKU-1000,Walmart,1.03,2025-10-29,NaN
3,SKU-1000,Linio,0.874,2025-11-02,Falta scraping
4,SKU-1001,MercadoLibre,$ 958.00,2025-11-28,Falta scraping
...,...,...,...,...,...
235,SKU-1058,Linio,1.007,2025-11-11,Falta scraping
236,SKU-1059,MercadoLibre,NaN,2025-10-09,NaN
237,SKU-1059,Amazon,0.851,2025-10-06,Falta scraping
238,SKU-1059,Walmart,0.86,2025-11-26,NaN
239,SKU-1059,Linio,1.164,2025-11-19,NaN

In [217]:
competencia_df.shape

(240, 5)

In [218]:
competencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sku                      240 non-null    object
 1   competidor               240 non-null    object
 2   multiplicador_vs_precio  218 non-null    object
 3   ultima_actualizacion     240 non-null    object
 4   observacion              90 non-null     object
dtypes: object(5)
memory usage: 9.5+ KB

mutiplicador_vs_precio tiene signos de dinero y lugares nulos, tengo que hacer que todo se pueda cambiar a númerico(float) y que los signos de pesos se borren, que los nulos no se cuenten pero no sé como hacerlo, ultima_actualización tiene que cambarse a datetime,

In [219]:
df_competencia = competencia_df 

df_competencia["multiplicador_vs_precio"] = (
    df_competencia["multiplicador_vs_precio"]
    .astype(str)
    .str.replace(r"[^\d.-]", "", regex=True)
)

df_competencia["multiplicador_vs_precio"] = pd.to_numeric(
    df_competencia["multiplicador_vs_precio"],
    errors="coerce"
)

df_competencia

,sku,competidor,multiplicador_vs_precio,ultima_actualizacion,observacion
0,SKU-1000,MercadoLibre,NaN,2025-11-20,NaN
1,SKU-1000,Amazon,0.921,2025-10-09,NaN
2,SKU-1000,Walmart,1.030,2025-10-29,NaN
3,SKU-1000,Linio,0.874,2025-11-02,Falta scraping
4,SKU-1001,MercadoLibre,958.000,2025-11-28,Falta scraping
...,...,...,...,...,...
235,SKU-1058,Linio,1.007,2025-11-11,Falta scraping
236,SKU-1059,MercadoLibre,NaN,2025-10-09,NaN
237,SKU-1059,Amazon,0.851,2025-10-06,Falta scraping
238,SKU-1059,Walmart,0.860,2025-11-26,NaN
239,SKU-1059,Linio,1.164,2025-11-19,NaN

In [221]:
df_competencia["ultima_actualizacion"] = pd.to_datetime(
    df_competencia["ultima_actualizacion"],
    errors="coerce"
)

df_competencia

,sku,competidor,multiplicador_vs_precio,ultima_actualizacion,observacion
0,SKU-1000,MercadoLibre,NaN,2025-11-20,NaN
1,SKU-1000,Amazon,0.921,2025-10-09,NaN
2,SKU-1000,Walmart,1.030,2025-10-29,NaN
3,SKU-1000,Linio,0.874,2025-11-02,Falta scraping
4,SKU-1001,MercadoLibre,958.000,2025-11-28,Falta scraping
...,...,...,...,...,...
235,SKU-1058,Linio,1.007,2025-11-11,Falta scraping
236,SKU-1059,MercadoLibre,NaN,2025-10-09,NaN
237,SKU-1059,Amazon,0.851,2025-10-06,Falta scraping
238,SKU-1059,Walmart,0.860,2025-11-26,NaN
239,SKU-1059,Linio,1.164,2025-11-19,NaN

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sku                      240 non-null    object
 1   competidor               240 non-null    object
 2   multiplicador_vs_precio  218 non-null    float64
 3   ultima_actualizacion     240 non-null    datetime64[ns]
 4   observacion              90 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 9.5+ KB

In [224]:
costos_df.head()

,SKU,Costo Base,Tarifa Marketplace (ratio),Costo Envío,Costo Empaque,Fecha Vigencia
0,SKU-1000,232.58,0.104,2.03,36.83,04-10-2025
1,SKU-1001,667.46,0.088,81.47,13.29,14-11-2025
2,SKU-1002,1449.38,0.089,19.65,15.48,30-10-2025
3,SKU-1003,211.39,0.126,47.93,19.66,23-10-2025
4,SKU-1004,479.7,0.091,8.41,6.98,15-11-2025

In [225]:
costos_df.tail()

,SKU,Costo Base,Tarifa Marketplace (ratio),Costo Envío,Costo Empaque,Fecha Vigencia
55,SKU-1055,1275.92,0.143,25.12,7.54,04-11-2025
56,SKU-1056,1169.54,0.108,111.20,21.93,22-11-2025
57,SKU-1057,649.38,0.152,42.09,32.05,26-11-2025
58,SKU-1058,"$ 1,188.41",0.153,43.39,19.22,07-11-2025
59,SKU-1059,1480.03,0.132,93.68,18.66,11-11-2025

In [226]:
#lipieza de nombres de columnas
def limpiar_columnas(cols):
    nuevas_cols = []
    for col in cols:
        col = col.lower()
        col = unicodedata.normalize("NFKD", col).encode("ascii", "ignore").decode("utf-8")
        col = re.sub(r"[()]", "", col)
        col = re.sub(r"\s+", "_", col)
        col = re.sub(r"_+", "_", col)
        col = col.strip("_")
        nuevas_cols.append(col)
    return nuevas_cols

costos_df.columns = limpiar_columnas(costos_df.columns)
costos_df.columns

costos_df

,sku,costo_base,tarifa_marketplace_ratio,costo_envio,costo_empaque,fecha_vigencia
0,SKU-1000,232.58,0.104,2.03,36.83,04-10-2025
1,SKU-1001,667.46,0.088,81.47,13.29,14-11-2025
2,SKU-1002,1449.38,0.089,19.65,15.48,30-10-2025
3,SKU-1003,211.39,0.126,47.93,19.66,23-10-2025
4,SKU-1004,479.7,0.091,8.41,6.98,15-11-2025
5,SKU-1005,766.05,0.169,7.58,26.39,06-10-2025
6,SKU-1006,906.78,0.137,35.98,6.20,18-11-2025
7,SKU-1007,1338.97,0.137,49.31,26.15,15-11-2025
8,SKU-1008,994.08,0.111,33.26,20.74,16-11-2025
9,SKU-1009,1442.84,0.117,NaN,35.23,09-11-2025
10,SKU-1010,977.61,0.098,52.24,23.38,06-11-2025
11,SKU-1011,1119.75,0.133,27.96,33.46,05-10-2025
12,SKU-1012,$ 901.07,0.083,71.72,30.86,22-11-2025
13,SKU-1013,970.06,0.123,43.05,39.85,15-11-2025
14,SKU-1014,1364.32,0.145,0.09,25.79,27-11-2025
15,SKU-1015,1379.08,0.128,40.25,38.33,07-10-2025
16,SKU-1016,$ 292.20,0.096,111.59,21.05,25-10-2025
17,SKU-1017,1395.75,12.700,85.25,19.66,17-11-2025
18,SKU-1018,976.19,0.108,85.79,20.04,04-10-2025
19,SKU-1019,1183.09,16.000,80.81,26.51,17-11-2025
20,SKU-1020,393.39,0.152,NaN,39.86,31-10-2025
21,SKU-1021,412.74,0.167,NaN,35.78,07-11-2025
22,SKU-1022,"$ 1,298.56",0.139,48.95,39.31,23-11-2025
23,SKU-1023,518.66,0.153,44.25,31.94,13-11-2025
24,SKU-1024,767.11,0.088,107.70,36.77,25-11-2025
25,SKU-1025,849.68,0.165,116.19,10.17,31-10-2025
26,SKU-1026,897.63,16.600,NaN,5.59,10-11-2025
27,SKU-1027,100.41,0.111,5.94,25.98,07-11-2025
28,SKU-1028,1027.61,0.099,15.07,31.79,05-10-2025
29,SKU-1029,"$ 1,318.80",0.167,73.57,10.50,13-10-2025
30,SKU-1030,124.51,0.164,14.33,26.78,24-10-2025
31,SKU-1031,856.62,0.118,65.55,8.13,01-11-2025
32,SKU-1032,1165.69,8.900,9.49,20.66,01-11-2025
33,SKU-1033,1200.26,0.101,28.04,27.37,07-10-2025
34,SKU-1034,673.4,0.121,5.34,15.12,15-10-2025
35,SKU-1035,798.72,0.126,97.76,37.77,19-10-2025
36,SKU-1036,1211.54,11.000,40.92,33.19,01-11-2025
37,SKU-1037,778.54,0.151,68.73,13.34,10-10-2025
38,SKU-1038,1177.9,0.095,12.75,32.24,04-11-2025
39,SKU-1039,852.63,0.120,66.21,17.48,10-11-2025
40,SKU-1040,786.47,0.087,33.11,30.59,08-11-2025
41,SKU-1041,561,14.700,67.65,12.17,23-11-2025
42,SKU-1042,340.66,0.097,98.51,20.01,05-11-2025
43,SKU-1043,196.35,0.168,23.52,38.03,18-10-2025
44,SKU-1044,1378.87,0.083,59.23,20.88,28-10-2025
45,SKU-1045,85.56,0.151,119.94,33.08,31-10-2025
46,SKU-1046,1027.09,0.098,24.09,35.81,22-10-2025
47,SKU-1047,1405.13,0.122,76.49,33.06,06-11-2025
48,SKU-1048,1154.29,0.116,11.43,5.96,03-10-2025
49,SKU-1049,151.46,0.083,7.55,11.56,22-10-2025
50,SKU-1050,$ 780.74,0.146,110.78,5.55,26-11-2025
51,SKU-1051,"$ 1,480.93",0.085,6.71,9.98,03-11-2025
52,SKU-1052,1337.49,0.131,1.20,35.88,01-11-2025
53,SKU-1053,245.19,0.152,116.41,5.77,18-10-2025
54,SKU-1054,211.37,17.000,12.11,11.97,18-10-2025
55,SKU-1055,1275.92,0.143,25.12,7.54,04-11-2025
56,SKU-1056,1169.54,0.108,111.20,21.93,22-11-2025
57,SKU-1057,649.38,0.152,42.09,32.05,26-11-2025
58,SKU-1058,"$ 1,188.41",0.153,43.39,19.22,07-11-2025
59,SKU-1059,1480.03,0.132,93.68,18.66,11-11-2025